<div *ngIf="word" class="container">
  <h1 class="my-4 text-center">{{word.word | titlecase}} </h1>
  <ng-container *ngIf="word.pronunciation">
    <p *ngIf="pronunciation == 'object'; else pronunciationString">
      <ng-container *ngIf="word.pronunciation.noun && word.pronunciation.verb">
        <span class="font-weight-bold">Pronunciation: </span> <span
          class="font-italic">[{{word.pronunciation.all}}]</span>
        in general, <span class="font-italic">[{{word.pronunciation.noun}}]</span> as a noun and <span
          class="font-italic">[{{word.pronunciation.verb}}]</span> as a verb.
      </ng-container>
      <ng-container *ngIf="word.pronunciation.noun && !word.pronunciation.verb">
        <span class="font-weight-bold">Pronunciation: </span> <span
          class="font-italic">[{{word.pronunciation.all}}]</span>
        in general and <span class="font-italic">[{{word.pronunciation.noun}}]</span> as a noun.
      </ng-container>
      <ng-container *ngIf="!word.pronunciation.noun && word.pronunciation.verb">
        <span class="font-weight-bold">Pronunciation: </span> <span
          class="font-italic">[{{word.pronunciation.all}}]</span>
        in general and <span class="font-italic">[{{word.pronunciation.verb}}]</span> as a verb.
      </ng-container>
      <ng-container *ngIf="!word.pronunciation.noun && !word.pronunciation.verb">
        <span class="font-weight-bold">Pronunciation: </span> <span
          class="font-italic">[{{word.pronunciation.all}}]</span>.
      </ng-container>
    </p>
    <ng-template #pronunciationString>
      <p>
        <span class="font-weight-bold">Pronunciation: </span> <span class="font-italic">{{word.pronunciation}}</span>.
      </p>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="word.syllables">
    <p>
      <span class="font-weight-bold">Syllables: </span> {{word.syllables.count}}
      (<ng-container *ngFor="let syllable of word.syllables.list; let i = index">{{syllable}}<span
          *ngIf="i+1 != word.syllables.count">-</span></ng-container>)
    </p>
  </ng-container>

  <ng-container *ngIf="word.results">
    <p class="font-weight-bold">Results:</p>
    <ol>
      <li *ngFor="let def of word.results">
        <p class="mb-0">(<span class="font-italic">{{def.partOfSpeech}}</span>) {{def.definition}}.
          <ng-container *ngIf="def.examples">
            <span class="font-italic" *ngFor="let example of def.examples; let i = index">{{example}}.
            </span>
          </ng-container>
        </p>
        <p *ngIf="def.synonyms">
          Synonyms:
          <ng-container *ngFor="let s of def.synonyms;let i = index">
            <a routerLink="/word/{{s}}">{{s}}</a>
            <ng-container *ngIf="i < def.synonyms.length -2">, </ng-container>
            <ng-container *ngIf="i == def.synonyms.length -2"> and </ng-container>
            <ng-container *ngIf="i == def.synonyms.length -1">.</ng-container>
          </ng-container>
        </p>
      </li>
    </ol>
  </ng-container>

</div>